# SPDX-License-Identifier: Apache-2.0
# Autor/desenvolvedor: Elizandro Pacheco — NextHop Solutions® (https://nexthop.solutions/).
# Licença e atribuições: consulte LICENSE e NOTICE na raiz do repositório.
# Modificado em 2026-10-01: atualização da stack, testes, documentação e avisos.

.env
.env.*

